#pbw-settings-table.form-product {
    display: none;
}

#pbw-settings-table.form-product th {
    padding-left: 12px;
}

#pbw-settings-table.form-product label {
    float: unset;
    margin: 10px;
    font-weight: normal;
    font-size: 12px;
}

#pbw-settings-table.form-product .input-legend {
    float: left;
    width: 100%;
    display: block;
}